body {
  font-family: 'Lato', sans-serif;
  color: white;
  margin: 0;
  letter-spacing: .2px;
}

/*option chooseBtn {
  display: inline-block;
  float: left;
}*/

#content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.option {
  padding: 5%;
  background-color: #4A5055;
  margin-bottom: 30px;
}

h1, h2{
  text-align: center;
  font-size: 4vw;
}

h1 {
  color: #4A5055;
}

h2 {
  font-size: 2.5vw;
}

h3 {
  font-size: 1.5vw;
  font-weight: normal;
  padding: 2%;
}

.input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 2vw;
  color: #4A5055;
}

button, form .input {
  border-radius: 50px;
}

.pics img {
  width: 48%;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;

}

.bold {
  font-weight: bold;
  font-style: italic;
}

p {
  font-size: 1.5vw;
}

.question {
  font-size: 2vw;
}

form {
  margin-top: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form h2 {
  font-size: 2vw;
  display: inline-block;
  float: left;
  margin: 0;
}

#name {
  font-size: 2vw;
  color: #4A5055;
  width: 60%;
  margin-left: 2%;
}



form div {
  width: 40%;
  margin: 2% auto 2% auto;
}
